@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-purple-navy: #4b5563;
  --color-steel-blue: #000000;
  --color-sea-foam-green: #000000;
  --color-candy-pink: #000000;

  --font-serif: var(--font-cormorant), serif;
  --font-sans: var(--font-figtree), sans-serif;
}

/* Base Styles & Variables */
@layer base {
  :root, .dark {
    --background: #ffffff;
    --foreground: #000000;

    --card: #ffffff;
    --card-foreground: #000000;

    --popover: #ffffff;
    --popover-foreground: #000000;

    --primary: #000000;
    --primary-foreground: #ffffff;

    --secondary: #f9f9fb;
    --secondary-foreground: #000000;

    --muted: #f3f4f6;
    --muted-foreground: #4b5563;

    --accent: #f3f4f6;
    --accent-foreground: #000000;

    --destructive: #dc2626;
    --destructive-foreground: #ffffff;

    --border: #000000;
    --input: #ffffff;
    --ring: #000000;

    --radius: 1rem;
  }

  * {
    border-color: var(--border);
  }

  html {
    scroll-behavior: smooth;
    background-color: var(--background);
    color: var(--foreground);
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: var(--font-sans);
  }
}